@using Microsoft.AspNetCore.Identity
@using PiikkiTracker.Utility
@inject AuthenticationStateProvider AuthenticationStateProvider


<nav class="navbar navbar-expand-md navbar-dark bg-dark shadow-sm">
	<div class="container-fluid">
		<a class="navbar-brand" href="">
			<img src="images/tabtrackerlogo.png" aria-hidden="true" height="40rem"/>
			TabTracker
		</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
		aria-controls="navbarCollapse" aria-label="Toggle navigation" >
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarCollapse" >
			<ul class="navbar-nav me-auto mb-2 mb-md-0">
				<AuthorizeView Context="authContext">
					<li class="nav-item">
						<NavLink class="nav-link" href="jobs" >
							<i class="bi bi-briefcase" aria-hidden="true"></i> Jobs
						</NavLink>
					</li>
					<li class="nav-item">
						<NavLink class="nav-link" href="products">
							<i class="bi bi-cup-straw" aria-hidden="true"></i> Products
						</NavLink>
					</li>

					<li class="nav-item">
						<NavLink class="nav-link" href="userjobs">
							<i class="bi bi-card-checklist" aria-hidden="true"></i> Jobs Done
						</NavLink>
					</li>

					<li class="nav-item">
						<NavLink class="nav-link" href="userproducts">
							<i class="bi bi-credit-card" aria-hidden="true"></i> Bought Products
						</NavLink>
					</li>

					<li class="nav-item">
						<NavLink class="nav-link" href="transactions">
							<i class="bi bi-currency-exchange" aria-hidden="true"></i> Transactions
						</NavLink>
					</li>


				</AuthorizeView>
				
				<AuthorizeView Context="authContext" Roles="@SD.Role_Moderator">
					

					<li class="nav-item">
						<NavLink class="nav-link" href="userjobs/moderation">
							<i class="bi bi-activity" aria-hidden="true"></i> Job Moderation
						</NavLink>
					</li>
				</AuthorizeView>

			</ul>
			<ul class="d-flex navbar-nav mb-2 mb-md-0">
				<AuthorizeView Context="authContext">

					<Authorized>
						<li class="nav-item">
							<NavLink class="nav-link me-2" href="Account/Manage">
								<i class="bi bi-person-circle" aria-hidden="true"></i>
								@(authContext?.User?.Identity?.Name)
							</NavLink>
						</li>
						<li class="nav-item">
							<form action="Account/Logout" method="post">
								<AntiforgeryToken />
								<input type="hidden" name="ReturnUrl" value="" />
								<button type="submit" class="nav-link btn btn-success">
									<i class="bi bi-box-arrow-right" aria-hidden="true"></i> Logout
								</button>
							</form>
						</li>
					</Authorized>


					<NotAuthorized>
						<li class="nav-item">
							<NavLink class="nav-link me-2" href="Account/Register">
								<i class="bi bi-person-plus" aria-hidden="true"></i> Register
							</NavLink>
						</li>
						<li class="nav-item">
							<NavLink class="nav-link btn btn-primary" href="Account/Login">
								<i class="bi bi-box-arrow-in-right" aria-hidden="true"></i> Login
							</NavLink>
						</li>
					</NotAuthorized>

				</AuthorizeView>

				<li class="nav-item ms-2">
					<ThemeToggle @rendermode="InteractiveServer" />
				</li>
			</ul>
		</div>
	</div>
</nav>

@code {

	private AuthenticationState? authContext => AuthenticationStateProvider.GetAuthenticationStateAsync().Result;

}